*{
    padding: 0;
    margin: 0;
/*Row-1 is start*/
}
#row1{
 background-color: #2C3F50;
 height: 30px;
 width: 100%;
}
.top-section{
    width: 90%;
    margin: 0 auto;
}
.left-links{
    width: 60%;
    float: left;
    height: 100%;
}
.left-links ul{}
.left-links ul li{
    float: left;
    list-style: none;
    margin-left: 10px;
    color: rgb(251, 250, 248);
    line-height: 30px;
    

}
.left-links ul li a{
    color: white;
    text-decoration: none;
}
.social-links{
    width: 30%;
    float: right;
    height: 100%;
    text-align: right;
    
}
.social-links i{
    color: white;
    line-height: 30px;
    border-right: 2px solid #000;
    padding-right: 8px;

    
}
/* Row-1 is End */


/*Row-2 is start*/
#row2{

}
.header section{}
.logo{}
.logo img{}
.menu{}
.menu ul{}
.menu ul li{}
.menu ul li a{}
.menu ul li i{}


/* Row-2 is End */
